<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<booleanAttribute key="clearws" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="useProduct" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="location1" value="/home/mml/junit-workbench-workspace"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="vmargs" value=""/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=subclipse-test"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<stringAttribute key="progargs" value="-os linux -ws gtk -arch x86 -nl en_US -clean"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="subclipse-test"/>
<booleanAttribute key="askclear" value="false"/>
<stringAttribute key="location0" value="/home/mml/junit-workbench-workspace"/>
</launchConfiguration>
