<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.tigris.subversion.subclipse.core"
   name="%pluginName"
   version="0.7.0"
   provider-name="%providerName"
   class="org.tigris.subversion.subclipse.core.SVNProviderPlugin">

   <runtime>
      <library name="SVNPluginCore.jar">
         <export name="*"/>      
      </library>
      <library name="svnClientAdapter.jar">
         <export name="*"/>
      </library>
      <library name="jsvn.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.core"/>
   </requires>

	<!-- *************** Repository Provider **************** -->
	<extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.tigris.subversion.subclipse.core.SVNTeamProvider"
            id="org.tigris.subversion.subclipse.core.svnnature">
      </repository>
	</extension>

 <!--           typeClass="org.tigris.subversion.subclipse.core.SVNTeamProviderType" -->

  	<!-- *************** Markers **************** -->
	<extension id="svnmarker" point="org.eclipse.core.resources.markers"/>
	<extension id="svnremove" point="org.eclipse.core.resources.markers" name="%svnRemove">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.tigris.subversion.subclipse.core.svnmarker"/>
		<attribute name="name"/>
		<persistent value="true"/>
	</extension>
	
   <extension point="org.eclipse.core.runtime.urlHandlers"> 
      <handler protocol="svn" class="org.tigris.subversion.subclipse.core.util.SvnURLHandler"/> 
   </extension> 	

</plugin>
