<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.tigris.subversion.subclipse.tools.usage.reporting.UsageReportDispatcher">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.tigris.subversion.subclipse.tools.usage.preferences.UsageReportPreferencePage"
            id="org.tigris.subversion.subclipse.tools.usage.analytics.preferences.UsageAnalyticsPreferencePage"
            name="Usage Reporting"
            category="org.tigris.subversion.subclipse.ui.SVNPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.tigris.subversion.subclipse.tools.usage.preferences.UsageReportPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
