<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewCategory"
            id="org.tigris.subversion.subclipse">
      </category>
      <view
            name="%repositoryView.name"
            icon="icons/full/cview16/repo_rep.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"
            id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView">
      </view>
      <view
            name="%historyview.name"
            icon="icons/full/tortoise/log.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.history.HistoryView"
            id="org.tigris.subversion.subclipse.ui.history.HistoryView">
      </view>
      <view
            name="%PendingOperationsView.name"
            icon="icons/full/tortoise/showchanged.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.pending.PendingOperationsView"
            id="org.tigris.subversion.subclipse.ui.pending.PendingOperationsView">
      </view>
      <view
            name="%SvnPropertiesView.name"
            icon="icons/full/cview16/props_view.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.svnproperties.SvnPropertiesView"
            id="org.tigris.subversion.subclipse.ui.svnproperties.SvnPropertiesView">
      </view>
      <view
            name="%AnnotateView.name"
            icon="icons/full/tortoise/blame.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.annotations.AnnotateView"
            id="org.tigris.subversion.subclipse.ui.annotations.AnnotateView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%SVNRepositoryExploring"
            icon="icons/full/cview16/svn_persp.gif"
            class="org.tigris.subversion.subclipse.ui.SVNPerspective"
            id="org.tigris.subversion.subclipse.ui.svnPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.tigris.subversion.subclipse.ui.svnPerspective">
         </perspectiveShortcut>
         <view
               relative="org.eclipse.ui.views.TaskList"
               visible="false"
               relationship="stack"
               id="org.tigris.subversion.subclipse.ui.history.HistoryView">
         </view>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="false"
               relationship="stack"
               id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView">
         </view>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="false"
               relationship="stack"
               id="org.tigris.subversion.subclipse.ui.annotations.AnnotateView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.tigris.subversion.subclipse.ui.svnPerspective">
         <view
               relative="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"
               relationship="stack"
               id="org.tigris.subversion.subclipse.ui.annotations.AnnotateView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.team.ui.TeamSynchronizingPerspective">
         <perspectiveShortcut
               id="org.tigris.subversion.subclipse.ui.svnPerspective">
         </perspectiveShortcut>
         <view
               relative="org.eclipse.ui.views.TaskList"
               visible="false"
               relationship="stack"
               id="org.tigris.subversion.subclipse.ui.history.HistoryView">
         </view>
         <view
               relative="org.eclipse.team.sync.views.SynchronizeView"
               visible="false"
               relationship="stack"
               id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRepositoryLocation"
            id="org.tigris.subversion.subclipse.ui.RepositoryLocationContributions">
         <action
               label="%CreateRemoteFolderAction.label"
               icon="icons/full/wizards/newfolder_wiz.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.create_remote_folder_action_context"
               tooltip="%CreateRemoteFolderAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CreateRemoteFolderAction"
               menubarPath="group.add/additions"
               id="org.tigris.subversion.subclipse.ui.createRemoteFolder">
         </action>
         <action
               label="%AddToWorkspaceAction.label"
               icon="icons/full/tortoise/checkout.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.checkout_as_project_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutAsProjectAction"
               tooltip="%AddToWorkspaceAction.tooltip"
               id="org.tigris.subversion.subclipse.ui.addToWorkspace">
         </action>
         <action
               label="%CheckoutAsAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.checkout_as_action_context"
               tooltip="%CheckoutAsAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutAsAction"
               id="org.tigris.subversion.subclipse.ui.checkoutAs">
         </action>               
      </objectContribution>
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRemoteResource"
            id="org.tigris.subversion.subclipse.ui.RemoteResourceContributions">
         <action
               label="%CreateRemoteFolderAction.label"
               icon="icons/full/wizards/newfolder_wiz.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.create_remote_folder_action_context"
               tooltip="%CreateRemoteFolderAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CreateRemoteFolderAction"
               menubarPath="group.add/additions"
               id="org.tigris.subversion.subclipse.ui.createRemoteFolder">
         </action>
         <action
               label="%CopyUrlToClipboardAction.label"
               class="org.tigris.subversion.subclipse.ui.actions.CopyUrlToClipboardAction"
               menubarPath="additions"
               id="org.tigris.subversion.subclipse.ui.copyUrlToClipboard">
         </action>       
         <action
               label="%DeleteRemoteAction.label"
               icon="icons/full/ctool16/delete.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.delete_remote_resource_action_context"
               tooltip="%DeleteRemoteAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.DeleteRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.deleteRemoteResource">
         </action>
         <action
               label="%CopyRemoteAction.label"
               icon="icons/full/ctool16/copy_edit.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.copy_remote_resource_action_context"
               tooltip="%CopyRemoteAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CopyRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.copyRemoteResource">
         </action>
         <action
               label="%PasteRemoteAction.label"
               icon="icons/full/ctool16/paste_edit.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.paste_remote_resource_action_context"
               tooltip="%PasteRemoteAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.PasteRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.pasteRemoteResource">
         </action>
         <action
               label="%MoveRemoteAction.label"
               icon="icons/full/tortoise/rename.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.move_remote_resource_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.MoveRemoteResourceAction"
               tooltip="%MoveRemoteAction.tooltip"
               id="org.tigris.subversion.subclipse.ui.moveRemoteResource">
         </action>
         <action
               label="%ShowHistoryAction.label"
               icon="icons/full/tortoise/log.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.show_in_history_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.ShowHistoryAction"
               tooltip="%ShowHistoryAction.tooltip"
               id="org.tigris.subversion.subclipse.ui.showHistory">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRemoteFile"
            id="org.tigris.subversion.subclipse.ui.RemoteFileContributions">
         <action
               label="%OpenRemoteFileAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.open_remote_file_action_context"
               tooltip="%OpenRemoteFileAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.OpenRemoteFileAction"
               id="org.tigris.subversion.subclipse.ui.openRemoteFile">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRemoteFolder"
            id="org.tigris.subversion.subclipse.ui.RemoteFolderContributions">
         <action
               label="%CheckoutAsAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.checkout_as_action_context"
               tooltip="%CheckoutAsAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutAsAction"
               menubarPath="checkoutGroup"
               id="org.tigris.subversion.subclipse.ui.checkoutAs">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutIntoAction"
               id="org.tigris.subversion.subclipse.ui.actions.checkoutIntoAction"
               label="%CheckoutAsProjectIntoAction.label"
               menubarPath="checkoutGroup"
               tooltip="CheckoutAsProjectIntoAction.tooltip">
         </action>
         <action
               label="%AddToWorkspaceAction.label"
               icon="icons/full/tortoise/checkout.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.checkout_as_project_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutAsProjectAction"
               tooltip="%AddToWorkspaceAction.tooltip"
               menubarPath="checkoutGroup"
               id="org.tigris.subversion.subclipse.ui.addToWorkspace">
         </action>
         <action
               label="%ExportRemoteFolderAction.label"
               icon="icons/full/tortoise/export.gif"
               class="org.tigris.subversion.subclipse.ui.actions.ExportRemoteFolderAction"
               menubarPath="additions"
               id="org.tigris.subversion.subclipse.ui.ExportRemoteFolder">
         </action>         
      </objectContribution>
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.history.LogEntry"
            id="org.tigris.subversion.subclipse.ui.LogEntryContributions">
         <action
               label="%OpenLogEntryAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.open_remote_file_action_context"
               tooltip="%OpenLogEntryAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.OpenLogEntryAction"
               id="org.tigris.subversion.subclipse.ui.openLogEntry">
         </action>
         <action
               label="%CompareRemoteResourcesAction.label"
               icon="icons/full/tortoise/compare.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_remote_resources_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.CompareRemoteResourcesAction"
               tooltip="%CompareRemoteResourcesAction.tooltip"
               enablesFor="2"
               id="org.tigris.subversion.subclipse.ui.compareLogEntries">
         </action>
         <action
               label="%ShowAnnotationAction.label"
               icon="icons/full/tortoise/blame.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.get_annotate_action_context"
               tooltip="%ShowAnnotationAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.ShowAnnotationAction"
               id="org.tigris.subversion.subclipse.ui.showAnnotation">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.tigris.subversion.svnclientadapter.ISVNProperty"
            id="org.tigris.subversion.subclipse.ui.SVNPropertyContributions">
         <action
               label="%ModifySVNPropertyAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.modify_svnProperty_action_context"
               tooltip="%ModifySVNPropertyAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.SVNPropertyModifyAction"
               enablesFor="1"
               id="org.tigris.subversion.subclipse.ui.modifySVNProperty">
         </action>
         <action
               label="%deletesvnpropertyaction.label"
               icon="icons/full/ctool16/delete.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.delete_svnProperty_action_context"
               tooltip="%deletesvnpropertyaction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.SVNPropertyDeleteAction"
               id="org.tigris.subversion.subclipse.ui.deleteSVNProperty">
         </action>
         <action
               label="%SaveSVNPropertyAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.save_svnProperty_action_context"
               tooltip="%SaveSVNPropertyAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.SVNPropertySaveAction"
               id="org.tigris.subversion.subclipse.ui.saveSVNProperty">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.IProjectContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%UnmanageFolder.label"
               helpContextId="org.tigris.subversion.subclipse.ui.team_disconnect_action_context"
               tooltip="%UnmanageFolder.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.UnmanageAction"
               menubarPath="team.main/projectGroup"
               id="org.tigris.subversion.subclipse.ui.unmanage">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.ResourceContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%IgnoreAction.label"
               icon="icons/full/tortoise/ignore.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_ignore_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.IgnoreAction"
               tooltip="%IgnoreAction.tooltip"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.ignore">
         </action>
         <action
               label="%AddAction.label"
               icon="icons/full/tortoise/add.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_add_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.AddAction"
               tooltip="%AddAction.tooltip"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.add">
         </action>
         <action
               label="%AddKeywords.label"
               helpContextId="org.tigris.subversion.subclipse.ui.team_add_keywords_action_context"
               tooltip="%AddKeywords.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.AddKeywordsAction"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.AddKeywords">
         </action>
         <action
               label="%SetSvnProperty.label"
               icon="icons/full/ctool16/svn_prop_add.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_set_svnpropery_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.SetSvnPropertyAction"
               tooltip="%SetSvnProperty.tooltip"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.SetSvnProperty">
         </action>
         <action
               label="%ShowSvnPropertiesAction.label"
               icon="icons/full/cview16/props_view.gif"
               helpContextId="org.tigris.subversion.subclipse.team_show_svn_properties_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.ShowSvnPropertiesAction"
               tooltip="%ShowSvnPropertiesAction.tooltip"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.showSvnProperties">
         </action>
         <action
               label="%CompareWithPreviousAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_with_previous_action_context"
               tooltip="%CompareWithPreviousAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareWithPreviousRevisionAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.tigris.subversion.subclipse.ui.compareWithPrevious">
         </action>
         <action
               label="%CompareWithHeadAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_with_latest_action_context"
               tooltip="%CompareWithHeadAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareWithHeadRevisionAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.tigris.subversion.subclipse.ui.compareWithHead">
         </action>
         <action
               label="%CompareWithBaseAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_with_base_action_context"
               tooltip="%CompareWithBaseAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareWithBaseRevisionAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.tigris.subversion.subclipse.ui.compareWithBase">
         </action>
         <action
               label="%ResolveAction.label"
               icon="icons/full/tortoise/resolve.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_resolve_action_context"
               tooltip="%ResolveAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.ResolveAction"
               menubarPath="team.main/group5"
               id="org.tigris.subversion.subclipse.ui.resolve">
         </action>
         <action
               label="%RevertAction.label"
               icon="icons/full/tortoise/revert.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_revert_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.RevertAction"
               tooltip="%RevertAction.tooltip"
               menubarPath="team.main/group5"
               id="org.tigris.subversion.subclipse.ui.revert">
         </action>
         <action
               label="%MergeAction.label"
               icon="icons/full/tortoise/merge.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_merge_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.MergeAction"
               tooltip="%MergeAction.tooltip"
               menubarPath="team.main/group4"
               enablesFor="1"
               id="org.tigris.subversion.subclipse.ui.merge">
         </action>
         <action
               label="%SwitchAction.label"
               icon="icons/full/tortoise/switch.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_switch_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.SwitchAction"
               tooltip="%SwitchAction.tooltip"
               menubarPath="team.main/group4"
               enablesFor="1"
               id="org.tigris.subversion.subclipse.ui.switch">
         </action>
         <action
               label="%BranchTagAction.label"
               icon="icons/full/tortoise/copy.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_branchtag_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.BranchTagAction"
               tooltip="%BranchTagAction.tooltip"
               menubarPath="team.main/group4"
               enablesFor="1"
               id="org.tigris.subversion.subclipse.ui.branchtag">
         </action>
         <action
               label="%EditConflictsAction.label"
               icon="icons/full/tortoise/conflict.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_edit_conflicts_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.EditConflictsAction"
               tooltip="%EditConflictsAction.tooltip"
               menubarPath="team.main/group5"
               id="org.tigris.subversion.subclipse.ui.editConflicts">
         </action>
         <action
               label="%ReplaceWithAction.label"
               helpContextId="org.eclipse.team.cvs.ui.replace_with_latest_action_context"
               tooltip="%ReplaceWithAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.ReplaceWithRemoteAction"
               menubarPath="replaceWithMenu/replaceWithGroup"
               id="org.tigris.subversion.subclipse.ui.replace">
         </action>
         <action
               label="%generatediff.label"
               icon="icons/full/tortoise/diff.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_create_patch_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.GenerateDiffFileAction"
               tooltip="%generatediff.tooltip"
               menubarPath="team.main/group1"
               id="org.tigris.subversion.subclipse.ui.GenerateDiff">
         </action>
         <action
               label="%UpdateAction.label"
               icon="icons/full/tortoise/update.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_update_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.UpdateAction"
               tooltip="%UpdateAction.tooltip"
               menubarPath="team.main/group1"
               id="org.tigris.subversion.subclipse.ui.update">
         </action>
         <action
               label="%CommitAction.label"
               icon="icons/full/tortoise/commit.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_commit_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.CommitAction"
               tooltip="%CommitAction.tooltip"
               menubarPath="team.main/group1"
               id="org.tigris.subversion.subclipse.ui.commit">
         </action>
         <action
               label="%SynchronizeAction.label"
               icon="icons/full/obj16/synch_synch.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_synchronize_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.SynchronizeAction"
               tooltip="%SynchronizeAction.tooltip"
               menubarPath="team.main/group1"
               id="org.tigris.subversion.subclipse.synchronize">
         </action>
         <action
               label="%ShowHistoryAction.label"
               icon="icons/full/tortoise/log.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.show_in_history_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.ShowResourceInHistoryAction"
               tooltip="%ShowHistoryAction.tooltip"
               menubarPath="team.main/group2"
               id="org.tigris.subversion.subclipse.ui.ShowResourceInHistoryAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.IFileContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%UnlockAction.label"
               icon="icons/full/tortoise/unlock.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_unlock_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.UnlockAction"
               tooltip="%UnlockAction.tooltip"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.unlock">
         </action>                  
         <action
               label="%LockAction.label"
               icon="icons/full/tortoise/lock.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_lock_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.LockAction"
               tooltip="%LockAction.tooltip"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.lock">
         </action>         
         <action
               label="%CompareWithRevisionAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_with_revision_action_context"
               tooltip="%CompareWithRevisionAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareWithRevisionAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.tigris.subversion.subclipse.ui.compareWithRevision">
         </action>
         <action
               label="%ReplaceWithRevisionAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.replace_with_revision_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.ReplaceWithRevisionAction"
               tooltip="%ReplaceWithRevisionAction.tooltip"
               menubarPath="replaceWithMenu/replaceWithGroup"
               id="org.tigris.subversion.subclipse.ui.replaceWithRevision">
         </action>
         <action
               label="%ShowAnnotationAction.label"
               icon="icons/full/tortoise/blame.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.get_annotate_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.ShowAnnotationAction"
               tooltip="%ShowAnnotationAction.tooltip"
               menubarPath="team.main/group2"
               id="org.tigris.subversion.subclipse.ui.showAnnotation">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.IContainerContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%CleanupAction.label"
               icon="icons/full/tortoise/cleanup.gif"
               helpContextId="org.tigris.subversion.subclipse.ui.team_cleanup_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.CleanupAction"
               tooltip="%CleanupAction.tooltip"
               menubarPath="team.main/group5"
               id="org.tigris.subversion.subclipse.ui.cleanup">
         </action>
         <action
               label="%ShowPendingOperationsAction.label"
               icon="icons/full/tortoise/showchanged.gif"
               helpContextId="org.tigris.subversion.subclipse.team_show_pending_operations_action_context"
               class="org.tigris.subversion.subclipse.ui.actions.ShowPendingOperationsAction"
               tooltip="%ShowPendingOperationsAction.tooltip"
               menubarPath="team.main/group5"
               id="org.tigris.subversion.subclipse.ui.showPendingOperations">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="%DecoratorStandard.name"
            state="true"
            class="org.tigris.subversion.subclipse.ui.decorator.SVNLightweightDecorator"
            id="org.tigris.subversion.subclipse.ui.decorator">
         <description>
            %DecoratorStandard.desc
         </description>
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"
            id="org.tigris.subversion.subclipse.u.repoview_actions">
         <action
               label="%SVNActionSet.newLabel"
               icon="icons/full/wizards/newlocation_wiz.gif"
               class="org.tigris.subversion.subclipse.ui.actions.NewRepositoryAction"
               tooltip="%SVNActionSet.newTooltip"
               toolbarPath="actions"
               id="org.tigris.subversion.ui.actions.NewRepositoryAction">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="%SharingWizard.name"
            icon="icons/full/wizards/newconnect_wiz.gif"
            class="org.tigris.subversion.subclipse.ui.wizards.sharing.SharingWizard"
            id="org.tigris.subversion.subclipse.ui.SharingWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.name"
            category="org.eclipse.team.ui.TeamPreferences"
            class="org.tigris.subversion.subclipse.ui.preferences.SVNPreferencesPage"
            id="org.tigris.subversion.subclipse.ui.SVNPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%DecoratorPreferencePage.name"
            category="org.tigris.subversion.subclipse.ui.SVNPreferences"
            class="org.tigris.subversion.subclipse.ui.preferences.SVNDecoratorPreferencesPage"
            id="org.tigris.subversion.subclipse.ui.SVNDecoratorPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%ConsolePreferencePage.name"
            category="org.tigris.subversion.subclipse.ui.SVNPreferences"
            class="org.tigris.subversion.subclipse.ui.console.ConsolePreferencesPage"
            id="org.tigris.subversion.subclipse.ui.ConsolePreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%DiffMergePreferencePage.name"
            category="org.tigris.subversion.subclipse.ui.SVNPreferences"
            class="org.tigris.subversion.subclipse.ui.conflicts.DiffMergePreferencePage"
            id="org.tigris.subversion.subclipse.ui.DiffMergePreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.tigris.subversion.subclipse.core.svnremove"
            class="org.tigris.subversion.subclipse.ui.markers.SVNRemoveResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            name="%svnPropertyPage.name"
            class="org.tigris.subversion.subclipse.ui.properties.SVNPropertyPage"
            id="org.tigris.subversion.subclipse.ui.properties.SVNPropertyPage">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
      </page>
      <page
            objectClass="org.tigris.subversion.subclipse.core.ISVNRepositoryLocation"
            name="%SVN"
            class="org.tigris.subversion.subclipse.ui.properties.SVNRepositoryPropertiesPage"
            id="org.tigris.subversion.subclipse.ui.properties.SVNRepositoryPropertiesPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="dailywork.xml">
      </toc>
      <toc
            file="toc_platformGettingstarted.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.team.ui.synchronizeParticipants">
      <participant
            persistent="true"
            name="%SVNWorkspaceParticipant"
            icon="icons/full/cview16/svn_persp.gif"
            class="org.tigris.subversion.subclipse.ui.subscriber.SVNSynchronizeParticipant"
            id="org.tigris.subversion.subclipse.participant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.team.ui.synchronizeWizards">
      <wizard
            name="%syncWizard.name"
            icon="icons/full/cview16/svn_persp.gif"
            description="%syncWizard.description"
            class="org.tigris.subversion.subclipse.ui.SynchronizeWizard"
            id="org.tigris.subversion.subclipse.synchronizeWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            label="%svnQuickDiff.label"
            class="org.tigris.subversion.subclipse.ui.SVNPristineCopyQuickDiffProvider"
            id="org.tigris.subversion.subclipse.quickdiff.providers.SVNReferenceProvider">
      </referenceprovider>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help_contexts.xml">
      </contexts>
   </extension>
   
   <extension point="org.eclipse.ui.themes">
		<themeElementCategory
	    	id="org.tigris.subversion.subclipse.ui.fontsandcolors"
	       	label="%themeCategory"/>
	    <fontDefinition
	            label="%commitCommentFont.label"
	            categoryId="org.tigris.subversion.subclipse.ui.fontsandcolors"
	            defaultsTo="org.eclipse.jface.textfont"
	            id="svn_comment_font">
	         <description>%commitCommentFont.description</description>
	    </fontDefinition>   	
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="conflictMarker" name="%conflictMarker">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
	</extension>
	
	<extension
		point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.tigris.subversion.subclipse.ui.decorator.ConflictResolutionGenerator"
			markerType="org.tigris.subversion.subclipse.ui.conflictMarker">
		</markerResolutionGenerator>
	</extension> 
	
   <extension
         point="org.tigris.subversion.subclipse.core.svnPropertyTypes">
      <svnPropertyTypes
            type="String"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="bugtraq:label">
         <description>
bugtraq:label
Label text to show for the edit box where the user enters the issue number.

Example:
Issue#:
		</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            type="String"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="bugtraq:message">
         <description>
bugtraq:message
String which is added to a log message when an issue number is entered.
The string must contain &quot;%BUGID%&quot; which gets replaced with the issue number.

Example:
Issue#: %BUGID%
		</description>
      </svnPropertyTypes> 
      <svnPropertyTypes
            type="Boolean"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="bugtraq:number">
         <description>
bugtraq:number
Set to &quot;true&quot; if your issue tracking system has issues which can only be numbers.
		</description>
      </svnPropertyTypes> 
      <svnPropertyTypes
            type="URL"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="bugtraq:url">
         <description>
bugtraq:url
URL pointing to the issue tracker. It must contain &quot;%BUGID%&quot; which
gets replaced with the issue number.

Example:
http://www.yourcompany.com/showissue?issue=%BUGID%
		</description>
      </svnPropertyTypes> 
      <svnPropertyTypes
            type="Boolean"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="bugtraq:warnifnoissue">
         <description>
bugtraq:warnifnoissue
Set to &quot;true&quot; if a warning shall be shown when no issue is entered in the commit dialog.
		</description>
      </svnPropertyTypes> 
      <svnPropertyTypes
            type="Boolean"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="bugtraq:append">
         <description>
bugtraq:append
Set to &quot;false&quot; if you want the issue number to be inserted at the top of the
log message. The default is &quot;true&quot; which means the issue number
is appended to the log message. 
		</description>
      </svnPropertyTypes>                      
      <svnPropertyTypes
            type="String"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="tsvn:logtemplate">
         <description>
tsvn:logtemplate
String which is inserted in the log message box in the commit dialog.
Use this as a log message template for users to fill in.
		</description>
      </svnPropertyTypes>                      
      <svnPropertyTypes
            type="Number"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="tsvn:logwidthmarker">
         <description>
tsvn:logwidthmarker
Set this to the max number of characters on a single line of a log message.
A faded line is shown in the commit dialog at that position to guide the user when
entering a log message.
		</description>
      </svnPropertyTypes>                      
      <svnPropertyTypes
            type="Number"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="tsvn:logminsize">
         <description>
tsvn:logminsize
Minimum size in characters a log message must have before a commit is allowed.
		</description>
      </svnPropertyTypes>                      
      <svnPropertyTypes
            type="Number"
            fileOrFolder="folder"
            allowRecurse = "false"
            name="tsvn:lockmsgminsize">
         <description>
tsvn:lockmsgminsize
Minimum size in characters a lock message must have before a lock is allowed.
		</description>
      </svnPropertyTypes>                      
   </extension>	  

</plugin>
