<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.tigris.subversion.subclipse.ui"
   name="%pluginName"
   version="0.7.0"
   provider-name="%providerName"
   class="org.tigris.subversion.subclipse.ui.SVNUIPlugin">

   <runtime>
      <library name="SVNPluginUI.jar"/>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.tigris.subversion.subclipse.core"/>
   </requires>


<!-- ************** Views *************** -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="SVN"
            id="org.tigris.subversion.subclipse">
      </category>
      <view
            name="SVN Repository"
            icon="icons/full/cview16/repo_rep.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"
            id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView">
      </view>
      <view
            name="%HistoryView.name"
            icon="icons/full/cview16/history_view.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.history.HistoryView"
            id="org.tigris.subversion.subclipse.ui.history.HistoryView">
      </view>
      <view
            name="%Console.name"
            icon="icons/full/cview16/console_view.gif"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.console.ConsoleView"
            id="org.tigris.subversion.subclipse.ui.console.ConsoleView">
      </view>
      <view
            name="%PendingOperationsView.name"
            category="org.tigris.subversion.subclipse"
            class="org.tigris.subversion.subclipse.ui.pending.PendingOperationsView"
            id="org.tigris.subversion.subclipse.ui.pending.PendingOperationsView">
      </view>      
   </extension>
<!-- **************** SVN Perspective ******************* -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%SVNRepositoryExploring"
            icon="icons/full/cview16/svn_persp.gif"
            class="org.tigris.subversion.subclipse.ui.SVNPerspective"
            id="org.tigris.subversion.subclipse.ui.svnPerspective">
      </perspective>
   </extension>
<!-- ************** Popup menus *************** -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- contribution for ISVNRepositoryLocation -->
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRepositoryLocation"
            id="org.tigris.subversion.subclipse.ui.RepositoryLocationContributions">
         <action
               label="%CreateRemoteFolderAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.create_remote_folder_action_context"
               tooltip="%CreateRemoteFolderAction.tooltip"
               icon="icons/full/wizards/newfolder_wiz.gif"
               class="org.tigris.subversion.subclipse.ui.actions.CreateRemoteFolderAction"
               menubarPath="group.add/additions"               
               id="org.tigris.subversion.subclipse.ui.createRemoteFolder">
         </action>
      </objectContribution>
<!-- contribution for ISVNRemoteResource -->
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRemoteResource"
            id="org.tigris.subversion.subclipse.ui.RemoteResourceContributions">
         <action
               label="%CreateRemoteFolderAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.create_remote_folder_action_context"
               tooltip="%CreateRemoteFolderAction.tooltip"
               icon="icons/full/wizards/newfolder_wiz.gif"
               class="org.tigris.subversion.subclipse.ui.actions.CreateRemoteFolderAction"
               menubarPath="group.add/additions"               
               id="org.tigris.subversion.subclipse.ui.createRemoteFolder">
         </action>
         <action
               label="%DeleteRemoteAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.delete_remote_resource_action_context"
               tooltip="%DeleteRemoteAction.tooltip"
               icon="icons/full/ctool16/delete.gif"
               class="org.tigris.subversion.subclipse.ui.actions.DeleteRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.deleteRemoteResource">
         </action>
         <action
               label="%CopyRemoteAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.copy_remote_resource_action_context"
               tooltip="%CopyRemoteAction.tooltip"
               icon="icons/full/ctool16/copy_edit.gif"
               class="org.tigris.subversion.subclipse.ui.actions.CopyRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.copyRemoteResource">
         </action>
         <action
               label="%PasteRemoteAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.paste_remote_resource_action_context"
               tooltip="%PasteRemoteAction.tooltip"
               icon="icons/full/ctool16/paste_edit.gif"
               class="org.tigris.subversion.subclipse.ui.actions.PasteRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.pasteRemoteResource">
         </action>         
         <action
               label="%MoveRemoteAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.move_remote_resource_action_context"
               tooltip="%MoveRemoteAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.MoveRemoteResourceAction"
               id="org.tigris.subversion.subclipse.ui.moveRemoteResource">
         </action>         
      </objectContribution>
<!-- contribution for ISVNRemoteFile -->
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRemoteFile"
            id="org.tigris.subversion.subclipse.ui.RemoteFileContributions">
         <action
               label="%OpenRemoteFileAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.open_remote_file_action_context"
               tooltip="%OpenRemoteFileAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.OpenRemoteFileAction"
               id="org.tigris.subversion.subclipse.ui.openRemoteFile">
         </action>
         <action
               label="%ShowHistoryAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.show_in_history_action_context"
               tooltip="%ShowHistoryAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.ShowHistoryAction"
               id="org.tigris.subversion.subclipse.ui.showHistory">
         </action>
      </objectContribution>
<!-- contribution for ISVNRemoteFolder -->
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.ISVNRemoteFolder"
            id="org.tigris.subversion.subclipse.ui.RemoteFolderContributions">
         <action
               label="%AddToWorkspaceAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.checkout_as_project_action_context"
               tooltip="%AddToWorkspaceAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutAsProjectAction"
               menubarPath="checkoutGroup"
               id="org.tigris.subversion.subclipse.ui.addToWorkspace">
         </action>
         <action
               label="%CheckoutAsAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.checkout_as_action_context"
               tooltip="%CheckoutAsAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CheckoutAsAction"
               menubarPath="checkoutGroup"
               id="org.tigris.subversion.subclipse.ui.checkoutAs">
         </action>
      </objectContribution>
<!-- contribution for LogEntry -->
      <objectContribution
            objectClass="org.tigris.subversion.subclipse.core.history.LogEntry"
            id="org.tigris.subversion.subclipse.ui.LogEntryContributions">
         <action
               label="%OpenLogEntryAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.open_remote_file_action_context"
               tooltip="%OpenLogEntryAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.OpenLogEntryAction"
               id="org.tigris.subversion.subclipse.ui.openLogEntry">
         </action>
         <action
               label="%CompareRemoteResourcesAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_remote_resources_action_context"
               tooltip="%CompareRemoteResourcesAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareRemoteResourcesAction"
               enablesFor="2"
               id="org.tigris.subversion.subclipse.ui.compareLogEntries">
         </action>
      </objectContribution>
<!-- contribution for IProject -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.IProjectContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%UnmanageFolder.label"
               helpContextId="org.tigris.subversion.subclipse.ui.team_disconnect_action_context"
               tooltip="%UnmanageFolder.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.UnmanageAction"
               menubarPath="team.main/projectGroup"
               id="org.tigris.subversion.subclipse.ui.unmanage">
         </action>
      </objectContribution>
<!-- contribution for IResource -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.ResourceContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%CommitAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.team_commit_action_context"
               tooltip="%CommitAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CommitAction"
               menubarPath="team.main/group1"
               id="org.tigris.subversion.subclipse.ui.commit">
         </action>
         <action
               label="%UpdateAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.team_update_action_context"
               tooltip="%UpdateAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.UpdateAction"
               menubarPath="team.main/group1"
               id="org.tigris.subversion.subclipse.ui.update">
         </action>
         <!--action
               label="%Synchronize.label"
               tooltip="%Synchronize.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.SyncAction"
               menubarPath="team.main/group1"
               helpContextId="org.tigris.subversion.subclipse.ui.team_synchronize_action_context"
               id="org.tigris.subversion.subclipse.ui.sync">
         </action-->          
         <action
               label="%AddAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.team_add_action_context"
               tooltip="%AddAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.AddAction"
               menubarPath="team.main/group3"
               id="org.tigris.subversion.subclipse.ui.add">
         </action>
        <action
               label="%CompareWithRemoteAction.label"
               tooltip="%CompareWithRemoteAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareWithRemoteAction"
               menubarPath="compareWithMenu/compareWithGroup"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_with_latest_action_context"
               id="org.tigris.subversion.subclipse.ui.compareWithRemote">
         </action>
         <action
               label="%IgnoreAction.label"
               tooltip="%IgnoreAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.IgnoreAction"
               menubarPath="team.main/group3"
               helpContextId="org.tigris.subversion.subclipse.ui.team_ignore_action_context"
               id="org.tigris.subversion.subclipse.ui.ignore">
         </action>
         <action
               label="%RevertAction.label"
               tooltip="%RevertAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.RevertAction"
               menubarPath="team.main/group3"
               helpContextId="org.tigris.subversion.subclipse.ui.team_revert_action_context"
               id="org.tigris.subversion.subclipse.ui.revert">
         </action>         
      </objectContribution>
<!-- contribution for IFile -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.IFileContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.tigris.subversion.subclipse.core.svnnature">
         </filter>
         <action
               label="%ShowHistoryAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.show_in_history_action_context"
               tooltip="%ShowHistoryAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.ShowResourceInHistoryAction"
               menubarPath="team.main/group2"
               id="org.tigris.subversion.subclipse.ui.ShowResourceInHistoryAction">
         </action>
         <action
               label="%CompareWithRevisionAction.label"
               helpContextId="org.tigris.subversion.subclipse.ui.compare_with_revision_action_context"
               tooltip="%CompareWithRevisionAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.CompareWithRevisionAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.tigris.subversion.subclipse.ui.compareWithRevision">
         </action>
      </objectContribution>
<!-- contribution for IContainer -->      
     <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            id="org.tigris.subversion.subclipse.ui.IContainerContributions">      
         <action
               label="%ShowPendingOperationsAction.label"
               tooltip="%ShowPendingOperationsAction.tooltip"
               class="org.tigris.subversion.subclipse.ui.actions.ShowPendingOperationsAction"
               menubarPath="team.main/group4"
               helpContextId="org.tigris.subversion.subclipse.team_show_pending_operations_action_context"
               id="org.tigris.subversion.subclipse.ui.showPendingOperations">
         </action>            
      </objectContribution>            
   </extension>
<!-- **************** Decorator ******************* -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            quadrant="BOTTOM_RIGHT"
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            label="%DecoratorStandard.name"
            state="true"
            class="org.tigris.subversion.subclipse.ui.decorator.SVNLightweightDecorator"
            id="org.tigris.subversion.subclipse.ui.decorator">
         <description>
            %DecoratorStandard.desc
         </description>
      </decorator>
   </extension>
<!-- ******************* Wizards ****************** -->
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="%SharingWizard.name"
            icon="icons/full/wizards/newconnect_wiz.gif"
            class="org.tigris.subversion.subclipse.ui.wizards.sharing.SharingWizard"
            id="org.tigris.subversion.subclipse.ui.SharingWizard">
      </wizard>
   </extension>
<!-- ******************* Preferences ****************** -->
   <!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%DecoratorPreferencePage.name"
            category="org.eclipse.team.ui.TeamPreferences"
            class="org.tigris.subversion.subclipse.ui.decorator.SVNDecoratorPreferencesPage"
            id="org.tigris.subversion.subclipse.ui.SVNDecoratorPreferences">
      </page>
   </extension-->
<!-- **************** Markers ******************* -->
   <extension
         point="org.eclipse.ui.markerResolution">
      <markerResolutionGenerator
            markerType="org.tigris.subversion.subclipse.core.svnremove"
            class="org.tigris.subversion.subclipse.ui.markers.SVNRemoveResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
